<!-- /templates/customers/reset_password.liquid -->
<section class="py-16">
  <div class="container-7xl">
    <div class="max-w-sm mx-auto">
      {% form 'reset_customer_password' %}
        {%- if form.errors -%}
          <div class="px-5 py-3 text-general-danger bg-general-danger_bg mb-5 text-left">
          {{ form.errors | default_errors }}
          </div>
        {%- endif -%}
        <div class="mb-3">
          <label for="password" class="block">Password</label>
          <input class="w-full" type="password" value="" name="customer[password]" size="16" />
        </div>
        <div class="mb-5">
          <label class="block" for="password_confirmation">Password Confirmation</label>
          <input
            type="password"
            value=""
            class="w-full"
            name="customer[password_confirmation]"
            size="16"
          />
        </div>

      <input class="button-default w-full" type="submit" value="Reset Password" />

      {% endform %}
    </div>
  </div>
</section>
