<section class="section">
  <div class="container-3xl">
    <h1>{{ '404.title' | t }}</h1>
    <p>{{ '404.content' | t }}</p>
    <a class="button-default" href="/">{{'404.button' | t}}</a>
  </div>
</section>
