{% paginate search.results by 15 %}
<section class="section">
  <div class="container-3xl">
    <h1 class="text-center">Search</h1>
    <form action="/search"  method="get" role="search">
      <div>
        <div class="mt-1 relative rounded-md shadow-sm w-80 mx-auto">
          <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
            <!-- Heroicon name: solid/mail -->
            {%- render 'icon', icon: 'search',  icon_class: 'h-5 w-5 text-gray-400' -%}
          </div>
          
          <input type="hidden" name="type" value="product" />
          <input aria-label="search" type="search" autofocus value="{{ search.terms | escape }}" name="q" class=" block w-full pr-10 sm:text-sm" placeholder="Search">
        </div>  
      </div>
      <!-- <button type="submit" class="button-secondary mx-auto block mt-4">Search</button> -->
    </form>
    
  </div>
</section>
<section class="section pt-0">
  <div class="container-7xl">
    {% unless search.results_count == 0 %}
      <p>
        <span class="">{{ 'search.general.results_count' | t: count: search.results_count }}</span>
      </p>
    {% endunless %}
    
    <div class="flex flex-wrap -ml-4 lg:-ml-6 -mb4">
      {% if search.performed %}
        {% for item in search.results %}
          {% render 'product-card',
            column_width: "w-full md:w-1/3 lg:w-1/4",
            card_bg: "white",
            id: item.id,
            product: item,
            enable_image: true,
          %}
        {% else %}
        <div class="pl-4 lg:pl-6 mt-3">
          No results
        </div>
          
        {% endfor %}
      {% endif %}
      </div>
  
      {%- render 'pagination', paginate: paginate -%}
   
  {% endpaginate %}
  </div>
</section>
