<div class="section" style="background-color: {{block.settings.background_color }};">
  <div class="container-7xl ">
    {% if block.settings.title != blank %}
      <div class="mb-7 md:mb-12 text-center">
        <h2 class="text-2xl font-semibold">{{ block.settings.title | escape }}</h2>
      </div>
    {% endif %}
  
    <div class="flex flex-wrap justify-center -ml-4 -mb4">
      {%- assign grid_item_width = 'w-full sm:w-1/2 md:w-1/3 lg:w-1/4' -%}
      {% assign applied_star_color = block.settings.star_color %}

      {% if block.settings.enable_column_1 %}
      {% render 'review-card', 
        alignment: 'center',
        column_width: grid_item_width,
        card_bg: block.settings.card_bg,
        star_color: applied_star_color,
        title: block.settings.title_1,
        text: block.settings.text_1,
        button_label: block.settings.button_label_1,
        button_link: block.settings.button_link_1,
        rating: block.settings.rating_1,
        use_min_height: block.settings.use_min_height,
        min_height: block.settings.min_height
      %}
    {% endif %}
    {% if block.settings.enable_column_2 %}
      {% render 'review-card', 
        alignment: 'center',
        column_width: grid_item_width,
        card_bg: block.settings.card_bg,
        star_color: applied_star_color,
        title: block.settings.title_2,
        text: block.settings.text_2,
        button_label: block.settings.button_label_2,
        button_link: block.settings.button_link_2,
        rating: block.settings.rating_2,
        use_min_height: block.settings.use_min_height,
        min_height: block.settings.min_height
      %}
    {% endif %}
    {% if block.settings.enable_column_3 %}
      {% render 'review-card', 
        alignment: 'center',
        column_width: grid_item_width,
        card_bg: block.settings.card_bg,
        star_color: applied_star_color,
        title: block.settings.title_3,
        text: block.settings.text_3,
        button_label: block.settings.button_label_3,
        button_link: block.settings.button_link_3,
        rating: block.settings.rating_3,
        use_min_height: block.settings.use_min_height,
        min_height: block.settings.min_height
      %}
    {% endif %}
    {% if block.settings.enable_column_4 %}
      {% render 'review-card',
        alignment: 'center',
        column_width: grid_item_width,
        card_bg: block.settings.card_bg,
        star_color: applied_star_color,
        title: block.settings.title_4,
        text: block.settings.text_4,
        button_label: block.setting s.button_label_4,
        button_link: block.settings.button_link_4,
        rating: block.settings.rating_4
      %}
    {% endif %}
    </div>
    {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
      <div class="my-6 text-center">
        <a href="{{ block.settings.button_link }}"  class="button-default" >
          {{- block.settings.button_label | escape -}}
        </a>
      </div>
    {%- endif -%}
    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}
  </div>
</div>
