{% if product.metafields.bloom['bloomfields'].awards_and_accolades != blank %}
	<div class="container-6xl p-4 pt-10 shadow-lg shadow-xl">
		<div class="md:flex md:max-w-1/2 md:mx-auto lg:max-w-full flex-wrap pb-3 flexible-grid">
			<h2 style="color: var(--text-light-color)">Awards & Accolades</h2>

			{% assign wiziwig_split = product.metafields.bloom['bloomfields'].awards_and_accolades | split: '<p>--------------------</p>' %}
			{% assign detailed_awards_acc = wiziwig_split[0] | split: '<p>----------</p>' %}

			{%- for award_details in detailed_awards_acc -%}
				{%- assign details_split = award_details | split: '</p><p>' -%}
				{%- assign points = details_split[0] | remove: '<p>' | strip -%}
				{%- assign author_title = details_split[1] | strip %}
				{%- assign message = details_split[2]  | strip -%}
				{%- assign author_name = details_split[3] | remove: '</p>' | strip -%}

				<div class="flex p-5">
					<div class="flex max-h-0  mr-3" style="max-width:10%; flex-basis: 50%;">
						{% render 'column-image',
							image: settings.awards_accolades_icon,
							max_image_width: settings.awards_accolades_image_width,
							class: 'mr-1'
						%}
						<h2 class="text-4xl font-bold" style="color: var(--text-light-color)">{{ points }}</h2>
					</div>
					<div class="flex flex-col" style="max-width:90%">
						<h4 class="font-bold" style="color: var(--text-light-color)">{{ author_title }}</h4>
						<p class="italic mb-0">"{{ message }}"</p>
						<p>- {{ author_name }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}
