.hero {
  position: relative;
  height: 475px;
  display: table;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.hero--adapt,
.hero-fixed-width__image {
  max-height: 100vh; }
  @media only screen and (min-width: 750px) {
    .hero--adapt,
    .hero-fixed-width__image {
      max-height: 80vh; } }

.hero--x-small {
  height: 100px; }

.hero--small {
  height: 180px; }

.hero--medium {
  height: 240px; }

.hero--large {
  height: 280px; }

.hero--x-large {
  height: 350px; }

@media only screen and (min-width: 750px) {
  .hero--x-small {
    height: 125px; }
  .hero--small {
    height: 300px; }
  .hero--medium {
    height: 440px; }
  .hero--large {
    height: 650px; }
  .hero--x-large {
    height: 775px; } }

.hero__overlay::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-image-overlay);
  opacity: var(--opacity-image-overlay);
  z-index: 1; }

.hero__inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 55px 0;
  z-index: 2; }

.hero__btn {
  margin-top: 27.5px; 
}

/*================ Fixed width ================*/
.hero-fixed-width {
  position: relative; }
  .hero-fixed-width.hero-fixed-width-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-image-overlay);
    opacity: var(--opacity-image-overlay);
    z-index: 1; }

.hero-fixed-width__content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 2;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.hero-fixed-width__image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  font-family: "object-fit: cover";
  overflow: hidden; 

}

.placeholder-svg {
  display: block;
  fill: rgba(51, 50, 50, 0.35);
  background-color: rgba(51, 50, 50, 0.1);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid rgba(51, 50, 50, 0.2); 
}

.placeholder-noblocks {
  padding: 40px;
  text-align: center; }

.placeholder-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .placeholder-background .icon {
    border: 0; }

.image-bar__content .placeholder-svg {
  position: absolute;
  top: 0;
  left: 0; }

